Github_branch_directory_fromchatgpt.rtf
MultipleAccessfromAnghus.txt
running_bike_data_scraper.png
Personal notes/Project_week_5_21.02.2024.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week5_22.02.2024.txt
Personal notes/Project_week3_4notes.txt
MultipleAccessfromAnghus.txt
MultipleAccessfromAnghus.txt
MultipleAccessfromAnghus.txt
MultipleAccessfromAnghus.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week3_4notes.txt
Personal notes/Project_week3_4notes.txt
Create RDS database.rtf
import requests_example_from_chat_gpt.py
Create RDS database.rtf
import requests_example_from_chat_gpt.py
MultipleAccessfromAnghus.txt
OpenWeather_info.rtf
rds_details.txt
Scraper Scripts/base_for_scraper_from_chat_gpt.py
