<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Rental App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="Style.css">
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfrNOzVJuGJnSUSCtzH6T32OZLNOWJ9_M&callback=initMap&libraries=places,geometry,visualization&center=53.349805,-6.26031&zoom=10" async defer></script> -->
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <!-- New Google Maps API import for Advanced Marker migration purpose -->
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "AIzaSyBfrNOzVJuGJnSUSCtzH6T32OZLNOWJ9_M",
          v: "weekly",
          // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
          // Add other bootstrap parameters as needed, using camel case.
        });
      </script>
    <script>
        // Yuhan: We put this here because initMap is in map.js but the other
        //        more generic init funcitons are in index.js. This is the 
        //        logical place to put it as we have access to both here.
        window.onload = function() {
            // You also need to call this function on window load to ensure proper initial placement
            initMap();
            initTimeAndDate();
            openTab(null, 'rent'); // Open the 'Rent' tab by default
            adjustWeatherPanelPosition(); // Adjust the weather panel position on load
        };
    </script>
</head>
<body>
    <div id="map"></div>
    <div id="left-panel">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'rent')">Rent</button>
            <button class="tablinks" onclick="openTab(event, 'return')">Return</button>
            <button class="tablinks" onclick="openTab(event, 'rent_return')">Rent & Return</button>
        </div>
        <div id="rent" class="tabcontent">
            <input type="time" id="rent_time" name="rent-time">
            <input type="date" id="rent_date" name="rent-date">
            <div class="input_wrap">
                <div id="available-bikes-rent"></div>
                <input type="text" placeholder="Search for bike station to rent" id="search_rent" autocomplete="off">
                <div class="suggestion_box" id="suggestion_box_rent"> </div>
                <div class="selection_container" id="selection_container_rent">
                    <button onclick="selectionToggle()" class="nearest_station" id="nearest_station_rent">Nearest Stations ▲</button>

                    <div id="rent_selection_wrapper">
                        <div class="selection_box">
                            <div class="station_info">
                                <div class="station_name">FREDERICK STREET SOUTH</div>

                                <div class="info_section">
                                    <img src="{{ url_for('static', filename='image/info.png') }}" class="selection_icon" id="info_icon">
                                    <div class="station_status">OPEN</div>
                                </div>
                                
                                <div class="bike_section">
                                    <img src="{{ url_for('static', filename='image/bike.png') }}" class="selection_icon" id="bicycle_icon" >
                                    <div class="bikes_available"> 3 </div>
                                </div>
                                
                                
                                <div class="parking_section">
                                    <img src="{{ url_for('static', filename='image/parking.png') }}" class="selection_icon"id="parking_icon" >
                                    <div class="parking_available"> 13 </div>
                                </div>

                                <div class="payment_section">
                                    <img src="{{ url_for('static', filename='image/payment.png') }}" class="selection_icon"id="payment_icon" >
                                    <div class="payment_available"> No </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div id="return" class="tabcontent">
            <input type="time" id="return_time" name="rent-time">
            <input type="date" id="return_date" name="rent-date">
            <div class="input_wrap">
                <input type="text" placeholder="Search for bike station to return" id="search_return" autocomplete="off">
                <div class="suggestion_box" id="suggestion_box_return"> </div>
                <div class="selection_container" id="selection_container_return"> 
                    </div>
                </div>
            </div>
            <div class="search_btn_container">
                <button id="search_btn" class="disabled">Search</button>
                <div id="error_text"></div>
                <!-- <input type="text" placeholder="Search for bike station to return" id="search_return" autocomplete="off">
                <div class="suggestion_box" id="suggestion_box_return"></div> -->
            </div>
        </div>
    </div>    




    
    <!-- <div class="search_btn_container">
        <button id="search_btn" class="disabled">Search</button>
        <div id="error_text"></div>
    </div> -->
    
    <!-- class flag set by jquery to change panel content -->
    <div id="right_panel" class="rp_live rp_closed rp_rent">
        <div class="rp_tab_container">
            <div class="rp_tab_rent" id="rp_tab_rent">Rent</div>
            <div class="rp_tab_return" id="rp_tab_return">Return</div>
        </div>
        <div id="rp_content"> 
            <div class="rp_station_name">
                <p id="rp_station_name">Station Name</p>
                <div class="live_label">Live</div>
                <div class="predicted_label">Predicted</div>
                <div class="rp_station_open">Open</div>
                <div class="rp_station_close">Closed</div>
            </div>
            <div class="rp_station_info_rent">
                <div class="rp_bike_total_label">total bike: <p id="available-bikes">num</p></div>
                <div class="rp_info_label">Mechanical Bikes: <p id="available_mechanical">placeholder</p> </div>
                <div class="rp_info_label">E-Bike removable battery: <p id="available_e_removable">placeholder</p></div>
                <div class="rp_info_label">E-Bike internal battery: <p id="available_e_internal">placeholder</p></div>

            </div>
            <div class="rp_station_info_return">
                <div class="rp_park_total_label">total parking: <p id="available-park">num</p></div>

            </div>
            <div class="rp_prediction_rent">
                <p>Placeholder for bike availability prediction graph</p>
            </div>
            <div class="rp_prediction_return">
                <p>Placeholder for park availability prediction graph </p>
            </div>
        </div>
    </div>
    <!-- Severe Weather Popup -->
    <div id="popup" class="popup" style="display: none;">
        <span id="close-popup" class="close">&times;</span>
        <h2>Severe Weather Alert</h2>
        <div id="extreme-weather-content"></div>
    </div>
     
    <div id="weather-panel" class="panel">
        <div class="weather-header">
            <div class="weather-tab">
                <!-- Dynamic tabs -->
                <button class="weather-tablinks active" onclick="weatherOpenTab(event, 'weather-current-content')">Current Weather</button>   
                <button class="weather-tablinks" onclick="weatherOpenTab(event, 'weather-forecast-content')">Forecast</button>
            </div>
        </div>
        <div id="weather-current-content" class="weather-tabcontent">
            <div class="current-weather-content">
                <!-- Content for Current Weather tab -->
            </div>
        </div>
        <div id="weather-forecast-content" class="weather-tabcontent">
            <div class="forecast-weather-content">
                <!-- Content for Forecast tab -->
            </div>
        </div>
    </div>
    
</body>
</html>          
